body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

header {
  background-color: rgb(166, 123, 91);
  padding: 10px 0px 10px 10px;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 2;
  width: 100%;
}

nav {
  display: flex;
  gap: 10px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.tab_change li {
  display: inline-block;
  margin-right: 10px; /* Espacio entre los botones */
  padding: 5px 10px;
  background-color: #643e0c;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  height: 33px;
  width: 95px;
  font-size: 1.5em;
}
li:hover {
  background-color: #a56b20;
}
button {
  background-color: #70533d;
  color: white; /* Color del texto en los botones */
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  background-color: #1a73e8; /* Cambio de color al pasar el ratón similar al de Google */
}

#content {
  padding: 20px 0px 20px 20px;
  background-attachment: scroll;
  background-image: url("../src/img/tulipt_coffee.jpg");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(55, 27, 16);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: xxx-large;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
/* --------------------------------------------CARDS-------------------------------------------- */
.card-container {
  grid: 10xp;
}
.cff-cards {
  background-color: rgb(55, 27, 16);
  display: grid;
  grid: repeat(2, 500px) / repeat(3, 1fr);
  column-gap: 10%;
  row-gap: 30px;
}

.card {
  background-color: rgb(255, 226, 202);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
}
.type-name {
  font-weight: bolder;
  font: 1.5em sans-serif;
  flex: 1 1 5%;
}

.coffe-type {
  max-width: 100%;
  max-height: 50%;
  min-width: 160px;
  min-height: 120px;
  flex: 1 1 80%;
}
.desc {
  flex: 1 1 5%;
  font-family: sans-serif;
  color: #934300;
  padding: 5px;
}
